body {
    background-color: #212b38;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    background-color: #37465B;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options-container {
    width: 100%;
    float: left;
    margin-top: 46px;
}

.home-container {
    display: inline-block;
    background-color: #FFFFFF;
    width: 600px;
    height: 325px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#graph-container {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 27.5%;
    float: left;
    padding: 20px;
}

.input-text {
    width: 110px;
}

.input-text-submit {
    margin-top: 5px;
    width: 118px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button {
    margin-top: 395px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 250px;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.button:hover {
    background-color: #2980b9;
}

#dynamic-div {
    text-align: left;
    font-size: 20px;
    color: #3498db;
    padding: 0px 0px 0px 50px;
}

.home-container-header {
    text-align: center;
    font-size: 25px;
    color: #3498db;
}