<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>Coingecko Web Scraper</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div style="width: 46%" class="container">
        <div id="graph-container">
            {{ plot | safe }}
        </div>
        <form>
            <input style="margin-top: 92px;" class="button" type="submit" value="Home" onclick="redirectToHome()">
        </form>

        <script>
            function redirectToHome() {
                event.preventDefault();
                window.location.href = '/';
            }
        </script>
    </div>
</body>

</html>